.parent{
    padding: 25px;
    background-color: blanchedalmond;
    display: flex;
    gap: 30px;
    justify-content: space-evenly;
    height: 350px;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}











.child{
    border: 2px cornsilk;
    background: rgb(0, 255, 64);
    padding: 20px;
    font-size: 18px;
    width: 400px;
}